
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    background-color: aliceblue;
    color: white;
    text-align: center;
}
.container-homePage-menu {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 70px;
    background-color: white;
}
header img {
    width: 100px;
    height: 100px;
}
.container-logo {
    display: flex;
    flex-direction: row;
}
.container-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.container-nome {
    color: #012066
}
.container-nome h1 {
    font-size: 1em;
    flex-wrap: wrap;
    
}
.container-nome h2 {
    font-size: 0.7em;
}
nav a {
    color: #012066;
    margin: 0 10px;
    text-decoration: none;
}
@media (max-width: 600px) {
    header img {
        width: 50px;
        height: 50px;
    }
    .container-nome h1, .container-nome h2 {
        display: none;
    }
}
