.components-buttons {
    border-bottom: 1px solid #012066;
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    justify-content: right;
}
.components-buttons a {
    cursor: pointer;
    color: #84BBD7;
}
.components-buttons a:hover {
    color: #012066;
}
.components-systemList {
    color: #012066;
}
.components-systemList-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #84BBD7;
    margin-right: 30px;
}
.components-systemList-item-actions {
    display: flex;
    gap: 2em;
    padding-right: 2em;
}
.action-icon, .edit-icon {
    cursor:pointer;
    color: #84BBD7;
}
.action-icon:hover, .edit-icon:hover {
    color: #012066;
    border: 1px solid #012066;
    padding: 7px;
    border-radius: 1em;
}
/* Estilos para o Modal */
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .modal-box button {
    margin-top: 10px;
    margin-right: 10px;
  }
  