.create-system-content {
    background-color:#84BBD7;
    padding: 20px;
}
.create-system-content-elements {
    background-color: aliceblue;
    height: 32em;
    border-radius: 10px;
    padding: 20px;
}
.permissions-container {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
}
.available-permissions h3 {
    padding: 0em 0em 0em 1em;
    
}
.available-permissions ul, .selected-permissions ul {
    background-color: white;
    border: 0.5px solid;
    list-style: none;
    margin: 1em;
    
}
/* Estilo para quando a permissão estiver destacada (clicada) */
li.highlighted {
    background-color: #d3f4d3; /* Cor de fundo suave ao destacar */
    color: #006600; /* Cor do texto ao ser destacado */
    cursor: pointer;
  }
  
  /* Estilo para quando a permissão for clicada (ativo) */
  li:active {
    background-color: #a3e1a3; /* Cor de fundo ao clicar */
  }
  
  /* Estilo de hover nas permissões */
  li:hover {
    background-color: #f0f0f0; /* Efeito de hover */
  }
  
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    
}