.create-profile-content {
    background-color:#84BBD7;
    padding: 20px;
}
.create-profile-content-elements {
    background-color: aliceblue;
    height: 32em;
    border-radius: 10px;
    padding: 20px;
}