.container-homePage {
    background-color:#84BBD7;
    padding: 20px;
    
}

.icone-menu {
    font-size: 40px;
    width: 100px;
}
.container-homePage-conteudo {
    background-color: aliceblue;
    height: 32em;
    border-radius: 10px;
}
.container-homePage h1, .container-homePage p {
    margin: 0px;
}